<!-- <section>
    <h1>How your day is looking today</h1>

    <div class="order-holder">
        <div *ngFor="let order of orders" class="order-item" routerLink="/view-one">

            <img src="../../../../assets/D183066B-A44A-48E7-88D2-6C123BBFD18B_4_5005_c.jpeg" />

            <div class="del-det">
                <div class="side-by-side">
                    <p class="pb-2">Order Number: {{orders.indexOf(order)+1}}
                        <div class="on-going">
                        </div>
                    </div>
            
                    <label>{{order.description}}</label>
                    <p>{{order.id}}</p>  
                    <label>{{order.status}}</label>
                    <label>{{order.address.country}}</label>
                    <div class="side-by-side">
                </div>
                
            </div>
        </div>

    </div>
    
</section>

<app-driver-bottom-nav></app-driver-bottom-nav> -->



<div class="p-1 flex flex-wrap items-center justify-center"> 
    <h1 class="p-4 flex justify-center w-80 text-xl order-gray-200 rounded-lg shadow dark:bg-black-800 dark:border-gray-700"> 
      Available Orders
    </h1>
    <div class="w-80 max-w-md p-4 mb-22 flex m-2 bg-white border border-gray-200 rounded-lg shadow sm:p-8 dark:bg-gray-800 dark:border-gray-700"  *ngFor="let order of orders">
      <a routerLink="/orders">
      <ul role="list" class="divide-y divide-gray-200 dark:divide-gray-700" >
          <li class="py-3 sm:py-4 " *ngIf="orders.length > 0 " >
            <p class="pb-2">Order Number: {{orders.indexOf(order)+1}}
            <p>User Id:   #{{ order.id }}</p>
            <p class="pb-2">Order Id: #{{ order.id }}</p> 
            <p>Order Description:   {{ order.description }}</p>
            <p class="pb-2">order address At: {{order.address}}</p>
            <p class="pb-2">Status: {{order.status}}</p>
            <p class="pb-2">Number Of Items: {{ order.items.quantity}}</p>
            <p class="pb-2">ordered Date: {{ order.createdAt}}</p>
  
            <p class="pb-2">Total: R{{ order.total}}</p>
            <button class="flex mx-auto p-2 mt-4 bg-orange-500 w-40 justify-center rounded-lg text-uppercase"> 
            start
          </button>
          <hr class="bg-red-700 mt-10">
        </li>
      </ul>
      </a>
    </div>
  </div>
  <div *ngIf="!orders">
    No orders found.
  </div>
  
  <app-sidenav></app-sidenav>