<div class="bg-white shadow-md rounded-lg p-6">
  <h2 class="text-2xl font-bold mb-4">Add a New Product</h2>
  <!-- <div class="max-w-xl mx-auto bg-white p-8 shadow-lg rounded-lg">
  <h1 class="text-3xl font-bold mb-4 text-gray-800">Add Property</h1>
  <h2 class="text-xl font-semibold mb-6 text-gray-600">Become a landlord</h2>

  <form (ngSubmit)="onSubmit(f)" #f="ngForm" class="space-y-6">
    <div class="form-group">
      <label for="type" class="block text-sm font-medium text-gray-700 mb-1">Type</label>
      <select [(ngModel)]="property.type" class="select select-bordered w-full mt-1" name="type" required>
        <option value="Sale">Sale</option>
        <option value="Rental">Rental</option>
        <option value="Booking">Booking</option>
      </select>
    </div>

    <div class="form-group">
      <label for="location" class="block text-sm font-medium text-gray-700 mb-1">Location</label>
      <input type="text" class="input input-bordered w-full mt-1" id="location" [(ngModel)]="property.location" name="location" placeholder="Enter location" required>
    </div>

    <div class="form-group">
      <label for="parking" class="block text-sm font-medium text-gray-700 mb-1">Parking</label>
      <select [(ngModel)]="property.parking" class="select select-bordered w-full mt-1" name="parking" required>
        <option value="indoor">Indoor</option>
        <option value="outdoor">Outdoor</option>
        <option value="no parking">No Parking</option>
      </select>
    </div>

    <div class="form-group">
      <label for="rooms" class="block text-sm font-medium text-gray-700 mb-1">Rooms</label>
      <input type="number" class="input input-bordered w-full mt-1" id="rooms" [(ngModel)]="property.rooms" name="rooms" placeholder="Number of rooms" required>
    </div>

    <div class="form-group">
      <label for="electricity" class="block text-sm font-medium text-gray-700 mb-1">Electricity</label>
      <select [(ngModel)]="property.electricity" class="select select-bordered w-full mt-1" name="electricity" required>
        <option value="Sharing">Sharing</option>
        <option value="Individual">Individual</option>
      </select>
    </div>

    <div class="form-group">
      <label for="bathroom" class="block text-sm font-medium text-gray-700 mb-1">Bathroom</label>
      <select [(ngModel)]="property.bathroom" class="select select-bordered w-full mt-1" name="bathroom">
        <option value="Sharing">Sharing</option>
        <option value="Individual">Individual</option>
      </select>
    </div>

    <div class="form-group">
      <label for="price" class="block text-sm font-medium text-gray-700 mb-1">Price</label>
      <input type="number" class="input input-bordered w-full mt-1" id="price" [(ngModel)]="property.price" name="price" placeholder="Price" required>
    </div>

    <div class="form-group">
      <label for="description" class="block text-sm font-medium text-gray-700 mb-1">Description</label>
      <textarea id="description" class="textarea textarea-bordered w-full mt-1" [(ngModel)]="property.description" name="description" placeholder="Write description e.g give directions to the place." required></textarea>
    </div>

    <div class="form-group">
      <label for="images" class="block text-sm font-medium text-gray-700 mb-1">Add Images</label>
      <div class="grid grid-cols-1 sm:grid-cols-2 lg:grid-cols-4 gap-4">
        <div *ngFor="let i of [0, 1, 2, 3]" class="relative">
          <input type="file" class="file-input file-input-bordered w-full mt-1" (change)="onFileSelected($event)">
          <img [src]="property.images[i] ? property.images[i].name : 'assets/OIP (3).jpg'" alt="Property image" class="mt-2 w-full h-32 object-cover">
        </div>
      </div>
    </div>

    <button type="submit" class="btn btn-primary w-full">+ Add Property</button>
  </form>
</div>-->
  <form (ngSubmit)="onSubmit(f)" #f="ngForm" class="space-y-6">

    <div class="form-group">
      <label for="location" class="block text-sm font-medium text-gray-700 mb-1">Category</label>
      <select type="text" class="select select-bordered w-full mt-1" id="location" [(ngModel)]="product.category" name="location" placeholder="Enter location" required>
        <option value="cyclinders">Cylinders</option>
        <option value="stoves">Stoves</option>
        <option value="spares">Spares</option>
      </select>
    </div>

    <div class="form-group">
      <label for="parking" class="block text-sm font-medium text-gray-700 mb-1">Title</label>
      <input type="text" [(ngModel)]="product.title" class="input input-bordered w-full mt-1" name="parking" required>
    </div>

    <div class="form-group">
      <label for="rooms" class="block text-sm font-medium text-gray-700 mb-1">Description</label>
      <input type="text" class="input input-bordered w-full mt-1" id="rooms" [(ngModel)]="product.description" name="rooms" placeholder="Number of rooms" required>
    </div>

    <div class="form-group">
      <label for="electricity" class="block text-sm font-medium text-gray-700 mb-1">Price</label>
      <input type="number" [(ngModel)]="product.price" class="input input-bordered w-full mt-1" name="electricity" required>
    </div>

    <div class="form-group">
      <label for="bathroom" class="block text-sm font-medium text-gray-700 mb-1">Quantity</label>
      <input type="number" [(ngModel)]="product.stock" class="input input-bordered w-full mt-1" name="bathroom">
    </div>

    <div class="form-group">
      <label for="images" class="block text-sm font-medium text-gray-700 mb-1">Add Image</label>
      <div class="grid grid-cols-1 sm:grid-cols-2 lg:grid-cols-4 gap-4">
          <input type="file" class="file-input file-input-bordered w-full mt-1" name="images" (change)="fileSelect($event)">
        </div>
      </div>

    <button type="submit" class="btn btn-secondary w-full"> Add </button>
  </form>
</div>

