/* Navbar styles */
.navbar {
  background-color: #333;
  color: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 10px;
  text-align: center;
}

.container {
  max-width: 1200px;
  width: 100%;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.logo {
  font-size: 24px;
  color: #fff;
  text-decoration: none;
}




.bar {
  width: 25px;
  height: 3px;
  background-color: #fff;
  margin-bottom: 5px;
}

/* Responsive styles */
@media only screen and (max-width: 768px) {

}