.navbar {
  display: flex;
  justify-content: flex-end;
  background-color: rgb(56, 52, 52);
}

.navbar .d-flex {
  margin-left: auto;
}
.button{
  background-color: #389CF9;
}
/* .sidebar {
  width: 250px;
} */