<nav class="navbar">
  <div class="container">
    <a href="#" class="logo">Shukuma</a>
  </div>
</nav>
<!-- <footer>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css">
  <a class="nav-link" routerLink="/home"><span class="fas fa-home"></span></a> 
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css">
    <span class="fas fa-shopping-cart"></span>
    
</footer> -->

 <!-- <nav class="nav">
    <ul class="nav-list">
      <li><a class="nav-link" routerLink="/register">Register</a></li>
      <li><i class="bi bi-person-fill" routerLink="/login">Login</i></li>
      <li><i class="bi bi-house-door-fill" routerLink="/home">home</i></li>
      <li><a class="nav-link" routerLink="/admin">Admin</a></li>
    </ul>
  </nav> -->
