<p>track-deliveries works!</p>


<!-- <div class="track-delivery">
    <h2>Track Delivery</h2>
    <p>Enter your order ID:</p>
    <input type="text" [(ngModel)]="orderId" placeholder="Order ID">
    <button (click)="getTrackingInfo()">Track</button>
  
    <div *ngIf="trackingData" class="tracking-info">
      <h3>Tracking Details</h3>
      <ul>
        <li *ngFor="let step of trackingData.steps">
          {{ step.location }} - {{ step.status }} ({{ step.dateTime }})
        </li>
      </ul>
    </div>
  </div> -->
  