.footer{
    background-color: #0d0427 !important;
    position: fixed;
    z-index: 500;
    bottom: 0;
    left: 0;
    width: 95%;
    height:48px !important;
    display: flex;
    justify-content: space-around;
    border-radius: 10px 10px 0 0; 
}

.fa-regular{
    font-size: medium;
}
/* ul{
    width: 100%;
} */
ul li{
    /* padding-left: 30px; */
    font-size: 22px;
    /* border-right: 1px solid rgba(255, 0, 0, 0.13); */
}
li{
    color: white;
    padding: 0 20px;
}
li a{
    width:100%;
    color: white;
}
