<div class="container mx-auto py-8 bg-slate-600">
    <div class="grid grid-cols-1 md:grid-cols-2 gap-8">
        <div>
            <h1 class="text-3xl font-bold text-white mb-4 uppercase tracking-wider leading-tight text-center font-sans-serif">
                Welcome to Mzimkhulu
            </h1>
            <div flex justify-center md:justify-start>

            </div>
        </div>
        <div class="flex justify-center">
            <img src="" alt="" class="h-auto max-w-lg rounded-lg hover:scale-105 transition-transform duration-300 ease-in-out">

        </div>
    </div>

</div>
