<section>

    <img src="https://img.daisyui.com/images/stock/photo-1534528741775-53994a69daeb.jpg" />

    <input type="name"  value="Ben Stiller" />
    <input type="name" value="123 dinwidy road" />
    <input type="name" value="Verified" />

    
<div class="divider"></div>    

    <div class="opts">
        <button class="long-options">Edit Profile</button>
        <button (click)="DeleteProfile()" class="long-options">Delete</button>
    </div>
<div class="divider"></div> 
</section>

<app-driver-bottom-nav></app-driver-bottom-nav>
