<section>

    <img src="https://images.sftcdn.net/images/t_app-cover-l,f_auto/p/e76d4296-43f3-493b-9d50-f8e5c142d06c/2117667014/boys-profile-picture-screenshot.png" />

    <input type="name" value="Ben Stiller" />
    <input type="name" value="123 dinwidy road" />
    <img style="height: 20px; width: 20px;" src="https://cdn-icons-png.freepik.com/512/7641/7641727.png"/>

    
<div class="divider"></div>    

    <div class="opts">
        <button class="long-options">Edit Profile</button>
        <button (click)="DeleteProfile()" class="long-options">Delete</button>
    </div>
<div class="divider"></div> 
</section>

<app-driver-bottom-nav></app-driver-bottom-nav>
