/* Items */
.card-body{
    padding: 1rem;
    padding-bottom: 0.5rem
}
figure{
    height: 140px;
    padding: 1rem;

}
.card-title{
    text-align: center;
}
.itemsImg{
    object-fit: contain;
    height: 100%;
    width: 100%;
}