<app-nav></app-nav>
<main class="mb-52">
    <div class="container border p-4">
        <h1 class="text-2xl font-extrabold">{{page}}</h1>
        <div class="flex border-red-100 flex-wrap justify-center gap-3 mt-5">
            <div *ngFor="let item of items" class="card w-36 bg-base-100 shadow-xl">
                <figure><img class="itemsImg" [src]="item.imageUrl" alt="Product Image" /></figure>
                <div class="card-body">
                  <h2 class="card-title text-red-600">{{ item.name }}</h2>
                  <p class="text-gray-700">{{ item.description }}</p>
                  <div class="card-actions justify-center">
                    <button class="btn btn-sm btn-primary">View</button>
                  </div>
                </div>
            </div>
        </div>
    </div>
    <div class="container pt-14">
        <h1 class="text-xl font-bold">More related products ...</h1>
        <div class="flex mt-6">
        </div>
    </div>
</main>
<app-footer></app-footer>
