
    <div class="holderr">
        <h1 class="title">{{page}}</h1>
         <section>
    <div class="mt-5 text-center ">
        <input class="mx-auto " type="text" placeholder="Search here..." class="input input-bordered w-full max-w-xs" />

    </div>
  </section>
  <div class="prod-holder">
        
            <div *ngFor="let item of items" class="card" class="p-1 flex flex-wrap items-center justify-center" routerLink="/product{{items.id}}"  (click)="addToCart(item)">

                <div class="flex-shrink-0 m-2 relative overflow-hidden bg-white-500 rounded-lg max-w-xs shadow-lg">
                    <svg class="absolute bottom-0 left-0 mb-8" viewBox="0 0 375 283" fill="none"
                        style="transform: scale(1.5); opacity: 0.1;">
                        <rect x="159.52" y="175" width="152" height="152" rx="8" transform="rotate(-45 159.52 175)" fill="white" />
                        <rect y="107.48" width="152" height="152" rx="8" transform="rotate(-45 0 107.48)" fill="white" />
                    </svg>
                    <div class="relative pt-10 px-10 flex items-center justify-center">
                        <div class="block absolute w-48 h-48 bottom-0 left-0 -mb-24 ml-3"
                            style="background: radial-gradient(black, transparent 60%); transform: rotate3d(0, 0, 1, 20deg) scale3d(1, 0.6, 1); opacity: 0.2;">
                        </div>
                        <img class="relative w-40 " [src]="item.imageUrl" alt="Product Image">
                    </div>
                    <div class="relative text-black px-6 pb-6 mt-6">
                        
                        <div class="flex justify-between">
                            <span class="block font-semibold text-xl">{{ item.description.slice(0,4) }} </span>
                            <span class="block bg-black rounded-full text-white text-xs font-bold px-3 py-2 leading-none flex items-center">R{{ item.price}}</span>
                        </div>
                        <span class="block opacity-75 -mb-1"></span>
                    </div>
                </div>
        </div>

        </div>
    <div class="container pt-14">
        <h1 class="text-xl font-bold">More related products ...</h1>
        <div class="flex mt-6">
        </div>
    </div>
<app-footer></app-footer>