<h2>User Profile</h2>
<div class="profile-card">
  <img class="avatar" [src]="mockUserProfile.avatarUrl" alt="Profile Picture">
  <div class="user-info">
    <h2>{{ mockUserProfile.firstName }} {{ mockUserProfile.lastName }}</h2>
    <p>{{ mockUserProfile.bio }}</p>
    <ul class="contact-info">
      <li><i class="fas fa-envelope"></i> {{ mockUserProfile.email }}</li>
      <li><i class="fas fa-phone"></i> {{ mockUserProfile.phoneNumber }}</li>
      <li *ngIf="mockUserProfile.location"><i class="fas fa-map-marker-alt"></i> {{ mockUserProfile.location }}</li>
      <li *ngIf="mockUserProfile.website"><i class="fas fa-globe"></i> <a href="{{ mockUserProfile.website }}">{{ mockUserProfile.website }}</a></li>
    </ul>
    <ul class="social-links">
      <li *ngIf="mockUserProfile.socialLinks?.twitter"><i class="fab fa-twitter"></i> <a href="https://twitter.com/{{ mockUserProfile.socialLinks.twitter }}">{{ mockUserProfile.socialLinks.twitter }}</a></li>
      <li *ngIf="mockUserProfile.socialLinks?.instagram"><i class="fab fa-instagram"></i> <a href="https://instagram.com/{{ mockUserProfile.socialLinks.instagram }}">{{ mockUserProfile.socialLinks.instagram }}</a></li>
      </ul>
  </div>
</div>

