<app-nav></app-nav>

<h1 class="heading"> checkout.</h1>

<form  action="./success.html"
method="POST" >
<h2 class="checkoutText"> checkout information</h2>

    
    <div class="flex1">
        <div class="formRow two">
            <div class="inputData">
                <input type="text" name="firstName" class="firstName" required placeholder="First Name:" required/>
            </div>
        </div>
        <div class="formRow three">
            <div class="inputData">
                <input type="text" name="lastName" class="lastName" placeholder="Last Name:" required/><br/>
            </div>
        </div>
    </div>
    <div class="flex2">
        <div class="formRow one">
            <div class="inputData">
                <input type="address" name="email" class="email" placeholder="Street Address:" required/><br/>
            </div>
            <div class="inputData">
                <input type="text" name="city" class="city" placeholder="city:" required/><br/>
            </div>
            <div class="inputData">
                <input type="number" name="postalCode" class="postalCode" placeholder="Postal Code:" required/><br/>
            </div>
        </div>
    </div>
    <div class="flex3">
        <h2 class="checkoutText"> Contact Information</h2>

        <div class="formRow four">
            <div class="inputData">
                <input type="email" name="email" class="email" placeholder="Email:" required/><br/>
            </div>
            <div class="inputData">
                <input type="number" name="contactNo" class="contactNo" placeholder="ContactNo:" required/><br/>
            </div>
        </div>

    </div>
</form>
    <h1 class="heading"> Order Summary.</h1>


    <div class="summaryFlex1">
        <svg width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
            <path d="M10.7146 19.5C10.7146 20.3284 10.0239 21 9.17176 21C8.31967 21 7.62891 20.3284 7.62891 19.5" stroke="black" stroke-width="null" stroke-linecap="round" class="my-path"></path>
            <path d="M16.8865 19.5C16.8865 20.3284 16.1957 21 15.3436 21C14.4915 21 13.8008 20.3284 13.8008 19.5" stroke="black" stroke-width="null" stroke-linecap="round" class="my-path"></path>
            <path d="M3.51429 6L4.96114 13.7354C5.25319 15.2968 5.39921 16.0775 5.95475 16.5387C6.51029 17 7.30451 17 8.89296 17H15.6218C17.2103 17 18.0046 17 18.5601 16.5387C19.1157 16.0774 19.2617 15.2967 19.5537 13.7352L20.1146 10.7352C20.5248 8.54152 20.7299 7.44469 20.1301 6.72234C19.5303 6 18.4144 6 16.1827 6H3.51429ZM3.51429 6L3 3" stroke="black" stroke-width="null" stroke-linecap="round" class="my-path"></path>
        </svg>
        <h2>Details</h2>
    </div>
    <hr>
    <div class="summaryFlex2">
        <h2 class="subtotal">  Order Subtotal</h2>
        <div class="col-4  totalContainer rounded pt-1" >
            <h1 class="text-center bold"><span class="tot">R{{totalAmount}}</span></h1>
        </div>
    </div>

    <div class="totalButton d-flex justify-content-center py-5 border-primary" >        
        <button routerLink="/order" class="btn btn-primary" >confirm</button>
    </div>

    <app-footer></app-footer>

