*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
.heading{
    margin: 30px;
    font-size: 22px;
    font-weight: bolder;
    text-transform: uppercase;
    text-transform: uppercase;
    text-align: center;
    color:black;
}
.checkoutText{
    margin: 30px;
    /* padding-left: 20px; */
    font-weight: bolder;
    text-transform: uppercase;
    text-transform: uppercase;
    text-align: center;
    border-radius: 15px;
    background-color: blue;
    color:#fff;
}
/* profiile starts */

form{
    justify-content: center;
    display: grid;
    background-color:rgb(236, 230, 230);
    padding-bottom: 40px;
    }

    .flex1 input, .flex2 input, .flex3 input{
    width:70vw;
    height:60px;
    background-color: rgba(236, 230, 230, 0.404);
    border:none;
    border-bottom:1px solid rgb(105, 104, 104);
    }
    .flex1 {
        display: flex;
        gap:20px;
    }
    .flex1 .firstName{
        width:100%;
    }
    .flex1 .lastName{
        width:100%;
    }
    .flex2{
        display: grid;
        justify-content: center;
    }
    .four{
        display: flex;
        gap:20px;
    }
    .four .email,.four .contactNo{
        width:100%;
    }
  .flex3 input:focus,
  .flex1 input:focus, 
  .flex2 input:focus{
    outline: inset none, outset none;
    padding: 3px;
  }
  .summaryFlex1{
    font-size: 22px;
    display: flex;
    justify-content: space-around;
  }
  .summaryFlex2{
    margin-top: 40px;
    font-size: 22px;
    display: flex;
    justify-content: space-around;
  }
  .summaryFlex2 h2{
    width:30%;
    margin-bottom: 20px;
  }

  .d-flex{
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 20px;
    margin-bottom: 100px;
  }

  h1 .tot{
    background-color: #fff;
  }

  button{
    margin-top: 30px;
    margin-left: 35%;
    background-color: #212529 !important;
    color: rgba(229, 233, 227, 0.973);
    font-size: 18px;
    text-transform: uppercase;
    border-radius: 10px;
    width:60vw;
    border-radius:20px;
  }

  button:hover{
    background-color: rgba(0, 0, 255, 0.836) !important ;
    color:rgba(229, 233, 227, 0.973);
    border-radius:20px;
  }