<div class="flex justify-between items-center space-x-4">
  <img src="../../../../assets/Screenshot_2024-07-03_060625-removebg-preview.png" class="picture">
  <div tabindex="0" role="button" class="btn btn-ghost btn-circle avatar">
    <div class="w-10 h-10 p-1 rounded-full ring-2 ring-gray-300 dark:ring-gray-500 flex items-center justify-center">
      <img alt="Tailwind CSS Navbar component" src="https://img.daisyui.com/images/stock/photo-1534528741775-53994a69daeb.jpg" class="rounded-full">
    </div>
  </div>
</div>
<img class="h-auto max-w-sm rounded-sm" src="../../../../assets/gasCarry.jpg" alt="image description" id="picturebox">


<h1 class="text-xl font-bold mt-6 m-2">Shop By Category</h1>
<div class="container grid grid-cols-2 gap-3 m-10 mb-10 pb-10">
  <img class="h-auto max-w-32 rounded-md" src="../../../../assets/download.png" alt="image description">
  <img class="h-auto max-w-32 rounded-md" src="../../../../assets/stove.png" alt="image description">
  <img class="h-auto max-w-32 rounded-md" src="../../../../assets/images.png" alt="image description">
  <img class="h-auto max-w-32 rounded-md" src="../../../../assets/download.png" alt="image description">
</div>

<app-footer></app-footer>


