<div class="login-container">
    <form>
        <h2 class="tit">Shukuma</h2>
        <div class="message">
          <p>One account</p>
          <p>Many possibilites</p>
        </div>
        
        <div class="form-group">
          <label for="userName">Username:</label>
          <input type="text" name="userName" placeholder="Type userName" id="username" [(ngModel)]="signUpObj.userName"  class="form-control" placeholder="User Name" required>
        </div>  
        
        <div class="form-group">
            <label for="email">Email:</label>
            <input type="email" name="email" placeholder="Type Email" id="username" [(ngModel)]="signUpObj.email" class="form-control" placeholder="email" required>
          </div>

        <div class="form-group">
            <label for="password">Password:</label>
            <input type="password" name="password" placeholder="Type Password" id="password" [(ngModel)]="signUpObj.password"  class="form-control" placeholder="Password" required>
          </div>

        <p  class="other">Already have an account <a routerLink="/login">login</a> </p>
        <button class="btn btn-primary" (click)="onSignUp()">Register</button>
    </form>
</div>