<!-- <div class="card w-36 bg-base-100 shadow-xl justify-center">
    <figure><img class="itemsImg" src="https://encrypted-tbn3.gstatic.com/shopping?q=tbn:ANd9GcR3Xy8jxeZA1d8hXX2FPpLdIEUX146wEr5rtGCHx1UGkvmLLclywb7G6PWPWhErkv_dQuUY2INgfocyKNIWRr2TVw2H8ZivRFEywo1an1e_EcFnycZj7tqzTeQ1ZgEOLqPQzKC8jg&usqp=CAc" alt="Shoes" /></figure>
    <div class="card-body justify-center">
      <h2 class="card-title text-red-600 justify-center">9 kg</h2>
      <div class="card-actions justify-center">
        <button class="btn btn-sm btn-primary" onclick="deductAmount()">-</button>
        <button class="btn btn-sm btn-primary" onclick="addAmount()">+</button>
      </div>
    </div>
</div>
<div>
 <div>

    <h2>{{ products.title }}</h2>
    <p>{{ product.description }}</p>


    <h3>Category: {{ product.category.name }}</h3>
  </div> -->
  <div class="flex border-red-100 flex-wrap justify-center gap-3 mt-5">
    <div *ngFor="let product of allProduct" class="card w-36 bg-base-100 shadow-xl">
        <figure><img class="itemsImg" [src]="product.imageUrl" alt="Product Image" /></figure>
        <div class="card-body">
          <h2 class="card-title text-red-600">{{ product.name }}</h2>
          <p class="text-gray-700">{{ product.description }}</p>
          <div class="card-actions justify-center">
            <a routerLink="/product">
            <button class="btn btn-sm btn-primary">View </button>
            </a>
          </div>
        </div>
        </div>
        </div>
