.carousel {
    position: relative;
    margin-top: 100px;
    width: 100%;
    height: auto;
    /* min-width: 450px; */
    overflow: hidden;
    background-color: #525252;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  }

  .carousel-inner {
    display: flex;
    flex-direction: column;
  }

  /* .carousel-item {
    padding-top: 70px;
    color:#ffffff;
    margin-bottom: 90px;
    text-align: center;
    display: none;
  }

  .carousel-item.active {
    display: block;
  } */

  /* .carousel-control-prev,
  .carousel-control-next {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    background-color: rgba(0, 0, 0, 0.5);
    color: #fff;
    border: none;
    padding: 8px;
    cursor: pointer;
    font-size: 1.5rem;
    z-index: 1;
  }

  .carousel-control-prev {
    left: 0;
  }

  .carousel-control-next {
    right: 0;
  } */

  /* .home-footer {
    text-align: center;
  }

  .btn-primary {
    background-color: #398CF9;
    color: #fff;
    border: none;
    padding: 10px 18px;
    border-radius: 10px;
    font-size: 1.2rem;
    cursor: pointer;
  }

  .btn-primary:hover {
    background-color: #306fc9;
  } */

  @media (max-width:375px){
    .carousel {
    position: relative;
    margin-top: 50px;
    width: 100%;
    height:auto;
    /* min-width: 225px; */
    overflow: hidden;
    background-color: #525252;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  }
  .carousel-inner {
    display: flex;
    flex-direction: column;
  }
   .carousel-item {
    padding-top: 70px;
    color:#ffffff;
    margin-bottom: 90px;
    text-align: center;
  }
  .carousel-item.active {
    display: block;
  }
  .carousel-control-prev {
    left: 0;
    text-decoration: none;
  }

  .carousel-control-next {
    right: 0;
    text-decoration: none;
  }
  .btn-primary {
    background-color: #398CF9;
    color: #fff;
    border: none;
    padding: 10px 18px;
    border-radius: 10px;
    font-size: 1.2rem;
    cursor: pointer;
    justify-content: center;
  }
  .btn-primary:hover {
    background-color: #306fc9;
  }

  .home-footer {
    text-align: center;
  }
  }
