<div class="holderr">
        <!-- <h1 class="title">{{page}}</h1> -->
        <section>
          <div class="mt-5 text-center">
            <input
              class="mx-auto block w-full max-w-xs px-4 py-2 rounded-md border border-gray-300 focus:outline-none focus:ring-2 focus:ring-blue-500 focus:border-blue-500"
              type="text"
              placeholder="Search here..."
            />
          </div>
        </section>
        <div class="prod-holder">
          <div
            *ngFor="let item of allProduct"
            class="card p-1 flex flex-wrap items-center justify-center"

          >
            <div
              class="flex-shrink-0 m-2 relative overflow-hidden bg-white rounded-lg max-w-xs shadow-lg"
            >
              <svg
                class="absolute bottom-0 left-0 mb-8"
                viewBox="0 0 375 283"
                fill="none"
                style="transform: scale(1.5); opacity: 0.1"
              >
                <rect
                  x="159.52"
                  y="175"
                  width="152"
                  height="152"
                  rx="8"
                  transform="rotate(-45 159.52 175)"
                  fill="white"
                />
                <rect
                  y="107.48"
                  width="152"
                  height="152"
                  rx="8"
                  transform="rotate(-45 0 107.48)"
                  fill="white"
                />
              </svg>
              <div class="relative pt-10 px-10 flex items-center justify-center">
                <div
                  class="block absolute w-48 h-48 bottom-0 left-0 -mb-24 ml-3 bg-gradient-to-r from-black to-transparent opacity-20 rotate-[20deg] scale-[1,0.6]"
                ></div>
                <img class="relative w-40" [src]="item.imageUrl" alt="Product Image" />
              </div>
              <div class="relative text-black px-6 pb-6 mt-6">
                <div class="flex justify-between">
                  <span class="block font-semibold text-xl">{{ item.description.slice(0,4) }}</span>
                  <span
                    class="block bg-black rounded-full text-white text-xs font-bold px-3 py-2 leading-none items-center"
                    >R{{ item.price }}</span
                  >
                </div>
                <span class="block opacity-75 -mb-1"></span>
              </div>
            </div>
          </div>
        </div>

        <div class="container pt-14">
          <h1 class="text-xl font-bold">More related products ...</h1>
          <div class="flex mt-6 gap-4">
            <!-- Add your related products here -->
          </div>
        </div>
      </div>
<!-- <app-footer></app-footer> -->
