<div class="login-container">
  <form [formGroup]="loginForm" (ngSubmit)="OnLogin()">
    <h2 class="tit">
      <a routerLink="/welcome" class="text-black ml-20">
        <i class="fas fa-arrow-left"></i>
      </a>
      Shukuma
    </h2>
      <div class="message">
          <p>Access Delivery Excellence</p>
          <p>with Your Account</p>
      </div>

      <div class="form-group">
          <label for="email">Email:</label>
          <input id="email" type="email" formControlName="email" class="form-control text-black" placeholder="email" required>
          <div *ngIf="loginForm.get('email')?.invalid && (loginForm.get('email')?.dirty || loginForm.get('email')?.touched)" class="error">
              <div *ngIf="loginForm.get('email')?.errors?.['required']">Email is required.</div>
              <div *ngIf="loginForm.get('email')?.errors?.['email']">Invalid email format.</div>
          </div>
      </div>

      <div class="form-group">
          <label for="password">Password:</label>
          <input id="password" type="password" formControlName="password" class="form-control text-black" placeholder="Password" required>
          <div *ngIf="loginForm.get('password')?.invalid && (loginForm.get('password')?.dirty || loginForm.get('password')?.touched)" class="error">
              <div *ngIf="loginForm.get('password')?.errors?.['required']">Password is required.</div>
          </div>
      </div>

      <p class="other">Don't have an account <a href="register">register</a> </p>

      <button type="submit" class="btn btn-primary" routerLink="/userhome" [disabled]="loginForm.invalid">Login</button>
  </form>
</div>
<app-register-business></app-register-business>