    *{
          padding: 0;
          margin: 0;
          box-sizing: border-box;
        }
        .background{
          width: 100vw;
          z-index:-100;
          background: linear-gradient(
            to right,
            #d3d3d3,
            #ebeaea,
            #ebeaea,
            #d3d2d2
          );
        }
