<app-nav></app-nav>
<h2>Track Your Delivery</h2>

<table class="table table-striped sm:w-1">
  <thead>
    <tr>
      <th>ID</th>
      <th>Origin</th>
      <th>Destination</th>
      <th>Status</th>
      <th>Courier</th>
      <th>Last Updated</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let delivery of deliveries">
      <td>{{ delivery.id }}</td>
      <td>{{ delivery.origin }}</td>
      <td>{{ delivery.destination }}</td>
      <td>{{ delivery.status }}</td>
      <td>{{ delivery.courier }}</td>
      <td>{{ delivery.lastUpdated | date:'mediumDate' }}</td>
    </tr>
  </tbody>
</table>
<app-footer></app-footer>