<section>

    <button *ngIf="ButtonText != 'complete'" (click)="updateOrderStatus()" class="long-options">{{ButtonText}}</button>

    <img src="../../../../assets/D183066B-A44A-48E7-88D2-6C123BBFD18B_4_5005_c.jpeg" />

    <h1>{{order?.id}}</h1>
    <label>To: Sfiso </label>
    <label>Address: {{order?.shippingAddress?.address}}</label>

    <div class="side-by-side">
        <label> Item: {{order?.items?.length}}</label>

        <label>Qty: 1</label>
    </div>
    

    <div class="side-by-side">
        <label>Cash</label>

        <label class="price">R200</label>
    </div>

    <div id="map" *ngIf="order?.status == 'in-progress'"></div>
    
<div class="divider"></div>    

    <div *ngIf="ButtonText != 'complete'" class="opts">
        <select class="long-options">
            <option>Cancel</option>
            <option>Reschedule</option>
        </select>
        
        <button class="long-options">Confirm</button>
    </div>
    <p *ngIf="ButtonText == 'complete'" style="width: 100%; text-align: center;">Order Completed</p>
</section>

<app-driver-bottom-nav></app-driver-bottom-nav>
