<!-- <nav class="navbar bg-gray-800 text-white px-4 py-3 flex justify-between items-center">
    <div class="navbar-brand">
      <a href="#" class="text-xl font-bold">Shukuma</a>
      <span class="mx-2">
      <a [routerLink]="['/favourites']" class="fas fa-heart"></a>
      </span>
    </div>
    <div class="navbar-nav" [ngClass]="{'hidden':!isNavbarOpen}">
    </div>
  </nav> -->
  
  <nav class="navbar bg-gray-800 text-white px-4 py-3 flex justify-center items-center">
    <div class="navbar-brand">
        <a href="#" class="text-xl font-bold">Shukuma</a>
        
    </div>
</nav>