<!-- <nav class="navbar bg-black text-blue-500 px-4 py-3 flex justify-between items-center">
    <button class="navbar-toggler focus:outline-none" (click)="toggleNavbar()">
      <i class="fas fa-bars"></i>
    </button>
    <div class="navbar-brand">
      <a href="#" class="text-xl font-bold">Shukuma</a>
    </div>
    <div class="navbar-nav" [ngClass]="{'hidden':!isNavbarOpen}">
    </div>
  </nav>
  
  <div class="sidebar bg-black text-blue-500 fixed top-0 left-0 w-64 h-full p-4 transition-left"
       [ngClass]="{'left-0':isNavbarOpen, '-left-64': !isNavbarOpen}">
    <div class="flex justify-end">
      <button class="focus:outline-none" (click)="toggleNavbar()">
        <i class="fas fa-times"></i>
      </button>
    </div>
    <ul>
      <li><a [routerLink]="['/home']" class="block py-2 hover:text-gray-400" (click)="closeNavbar()"><i class="fas fa-home mr-2"></i>Home</a></li>
      <li><a [routerLink]="['/admin']" class="block py-2 hover:text-gray-400" (click)="closeNavbar()"><i class="fas fa-tachometer-alt mr-2"></i>Dashboard</a></li>
      <li><a [routerLink]="['/stats']" class="block py-2 hover:text-gray-400" (click)="closeNavbar()"><i class="fas fa-chart-line mr-2"></i>Stats</a></li>
      <li><a [routerLink]="['/settings']" class="block py-2 hover:text-gray-400" (click)="closeNavbar()"><i class="fas fa-cog mr-2"></i>Settings</a></li>
      <li><a [routerLink]="['/chats']" class="block py-2 hover:text-gray-400" (click)="closeNavbar()"><i class="fas fa-envelope mr-2"></i>Chats</a></li>
    </ul>
  </div> -->
<!-- <app-sidenav></app-sidenav>   -->
  <!-- <nav class="navbar bg-gray-800 text-white px-4 py-3 flex justify-between items-center">
    <button class="navbar-toggler focus:outline-none" (click)="toggleNavbar()">
      <i class="fas fa-bars"></i>
    </button>
    <div class="navbar-brand">
      <a href="#" class="text-xl font-bold">Shukuma</a>
      <span class="mx-2">
      <a [routerLink]="['/favourites']" class="fas fa-heart"></a>
      </span>
    </div>
    <div class="navbar-nav" [ngClass]="{'hidden':!isNavbarOpen}">
    </div>
  </nav>
  
  <div class="sidebar bg-gray-700 text-white fixed top-0 left-0 w-64 h-full p-4 transition-left"
       [ngClass]="{'left-0':isNavbarOpen, '-left-64': !isNavbarOpen}">
    <div class="flex justify-end">
      <button class="focus:outline-none" (click)="toggleNavbar()">
        <i class="fas fa-times"></i>
      </button>
    </div>
    <ul>
      <li><a [routerLink]="['/userhome']" class="block py-2 hover:text-gray-400" (click)="closeNavbar()"><i class="fas fa-home mr-2"></i>Home</a></li><br>
      <li><a [routerLink]="['/admin']" class="block py-2 hover:text-gray-400" (click)="closeNavbar()"><i class="fas fa-briefcase"></i>Business</a></li><br>
      <li><a [routerLink]="['/dashboard']" class="block py-2 hover:text-gray-400" (click)="closeNavbar()"><i class="fas fa-tachometer-alt mr-2"></i>Dashboard</a></li><br>
      <li><a [routerLink]="['/stats']" class="block py-2 hover:text-gray-400" (click)="closeNavbar()"><i class="fas fa-chart-line mr-2"></i>Stats</a></li><br>
      <li><a [routerLink]="['/settings']" class="block py-2 hover:text-gray-400" (click)="closeNavbar()"><i class="fas fa-cog mr-2"></i>Settings</a></li><br>
      <li><a [routerLink]="['/chats']" class="block py-2 hover:text-gray-400" (click)="closeNavbar()"><i class="fas fa-envelope mr-2"></i>Chats</a></li><br>
    </ul>
  </div> -->
<router-outlet></router-outlet>

<!-- Remove the footer from the app component. Call it in the other components -->