<app-nav></app-nav>
<!-- <nav class="navbar navbar-expand-lg bg-body-tertiary">
  <div class="container-fluid">
    <a class="navbar-brand" href="#">Menu</a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">
        <li class="nav-item">
          <a class="nav-link active" aria-current="page" href="">Home</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#">Link</a>
        </li>
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
            Dropdown
          </a>
          <ul class="dropdown-menu">
            <li><a class="dropdown-item" href="#">Action</a></li>
            <li><a class="dropdown-item" href="#">Another action</a></li>
            <li><hr class="dropdown-divider"></li>
            <li><a class="dropdown-item" href="#">Something else here</a></li>
          </ul>
        </li>
        <li class="nav-item">
          <a class="nav-link disabled" aria-disabled="true">Disabled</a>
        </li>
      </ul>
      <form class="d-flex" role="search">
        <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search">
        <button class="btn btn-outline-success" type="submit">Search</button>
      </form>
    </div>
  </div> -->
<!-- </nav> -->

 <div class="get-started-container">
      <h1>Welcome to Shukuma Delivery Service</h1>
    <p>Your gateway to a seamless delivery experience.</p>
 
    <div class="features">
      <div class="feature">
        <h2>Fast Delivery</h2>
         <p>Get your items delivered quickly and efficiently.</p> 
       </div>
      <div class="feature">
        <h2>Secure Payments</h2> 
        <p>Enjoy safe and secure transactions with our service.</p> 
       </div>
      <div class="feature">
        <h2>24/7 Support</h2> 
        <p>Our support team is available around the clock to assist you.</p> 
       </div>
    </div>
    <img src="https://i.postimg.cc/0NzDYGh1/delivery-page.jpg" class="img-fluid" alt="">
  
    <button class="btn btn-primary" routerLink="/login">Get Started</button>
  </div> 
  