    .get-started-container {
    text-align: center;
    /* padding: 10px; */
    background-color: #525252;
  }  
  
  .land-1{
    display: flex;
    flex-direction: column;
    height: 100vh;
    margin: auto ;
    justify-content: center;
    background-color: white;
    gap: 10px;
    
   }

  


  h1 {
    margin-bottom: 1rem;
    color: rgb(41, 41, 41);
    font-size: 30px;
    font-weight: 900;
    text-align: left;
    margin:0px;
      padding: 0px;
      margin-left: 15px;
    }

     .underline{
    height: 5px;
    border-radius: 10px;
    margin-left: 15px;
    width: 42%;
    background-color: #525252;
   }

    svg{
      
      position: absolute;
      bottom: 0;
      left: 0;
      right: 0;
    }

    p {
      
      margin:0px;
      padding: 0px;
      text-align: left ;
      align-items: center;
      justify-content: center;
      font-style: italic;
      margin-right: 8px;
      margin-left: 20px;
      font-size: 17px;
    }

    span{
      color: #0099ff;
      font-weight: bold;
    }


  .features {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }
  
  .feature:nth-child(1){
    background-color: #306fc9;
  }

  .feature:nth-child(1){
    background-color: #306fc9;
  }

  .feature:nth-child(1){
    background-color: #306fc9;
  }

  .feature h2 {
    color: var(--primary-color);
    bottom: 16px;
    font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    color: whitesmoke;
  
}
  .btn-primary {
    background-color:#306fc9;
    color: white;
    border: none;
    padding: 0.5rem 1rem;
    border-radius: 4px;
    font-size: 1rem;
    cursor: pointer;
  }
  
  .btn-primary:hover {
    background-color: #306fc9;
  }

 .land-1 img{
      height: auto;
      width: 100%;
    }

    .feature{
      
    }

   @media screen and (max-width:320px) {
    

  }