.rounded-l-full {
    border-top-left-radius: 100px;
    border-bottom-left-radius: 100px;
  }
  
  .rounded-r-none {
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
  }
  
  .border-r {
    border-right-width: 1px;
  }
  
  .pr-4 {
    padding-right: 1rem;
  }