@tailwind base;
@tailwind components;
@tailwind utilities;
@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&family=Protest+Strike&display=swap');


*{
  font-family: "Lato", sans-serif;
  padding: 0;
  margin: 0;
}
/* Light Theme */
/* body {
  background-color: #ffffff;
  color: #000000;
} */

/* Dark Theme */
/* body.dark-theme {
  background-color: #333333;
  color: #ffffff;
} */