<body>
    <form>
        <h3>Register</h3>    
        <label for="emai">Email</label>
        <input type="email" name="email" placeholder="Type Email" id="username" [(ngModel)]="signUpObj.email" [ngModelOptions]="{standalone: true}">
        
        <label for="password">Password</label>
        <input type="password" name="password" placeholder="Type Password" id="password" [(ngModel)]="signUpObj.password" [ngModelOptions]="{standalone: true}">
        <br>
        <p>Already have an account <a href="login">login</a> </p>
        <button (click)="onSignUp()">Submit</button>
    </form>
</body>