.product-card {
  border: 1px solid #ddd;
  border-radius: 5px;
  padding: 16px;
  margin: 16px;
  text-align: center;
  box-shadow: 0 2px 5px rgba(0,0,0,0.1);
}

.product-image {
  width: 100%;
  height: auto;
  border-bottom: 1px solid #ddd;
  margin-bottom: 16px;
}

.price {
  font-weight: bold;
  color: #e91e63;
}

.product-container {
  margin-bottom:60px;
  overflow:hidden;

}

@media (max-width: 375px) {
  .product-card {
    padding: 8px;
    margin: 8px;
    box-shadow: 0 1px 3px rgba(0,0,0,0.1);
  }

  .product-image {
    margin-bottom: 8px;
  }

  .price {
    font-size: 1.2em;
  }
}
