<div>

  <img src="../../../assets/Capture.PNG">

  <div class="w-full flex justify-center items-center bg-gray-900 dark:bg-white">
    
    <div
        class="relative flex xl:w-[60%] md:w-[50%] sm:w-[80%] xs:w-[96%] gap-4 items-center p-2 border dark:border-gray-400/30 border-gray-400/30 rounded  shadow shadow-green-500 ">
        
        <a class="w-full overflow-hidden rounded" style="max-width: 100px;" href="https://tailwindflex.com/@sammytg7">
            <img class="object-cover my-auto rounded w-28 h-28" width="200" height="200" src="https://lh3.googleusercontent.com/a/ACg8ocIexhmmTS8LcwWo1fPGY5Fl3KXpd-JuBE_Gj56P3rUR2g=s96-c" alt="">
        </a>


        <div class="flex flex-col justify-between flex-grow gap-3 px-2">
            <div class="w-full">
                <a href="https://tailwindflex.com/@sammytg7" class="font-semibold md:text-xl text-black-200 dark:text-black">
                    Driver
                </a>
                <p class="pt-1 text-sm dark:text-black-700 two-lines text-black-300">
                    Jack Morise
                </p>
            </div>



            <div class="flex items-center justify-between gap-1">
                <div class="text-sm dark:text-white text-white">
                        _______________________
                </div>
                <div title="Total points this month"
                    class="flex items-center gap-1 px-2 py-1 text-xs dark:text-gray-700 rounded cursor-pointer dark:bg-gray-300/30 bg-gray-700/90 text-gray-300">
                    <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5"
                        stroke="currentColor" class="w-4 h-4">
                        <path stroke-linecap="round" stroke-linejoin="round"
                            d="m3.75 13.5 10.5-11.25L12 10.5h8.25L9.75 21.75 12 13.5H3.75Z"></path>
                    </svg>
                    <span>
                    7.7k
                </span>
                </div>
            </div>

        </div>
    </div>
</div>

</div>
<app-footer></app-footer>

  